<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add Product page</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/product">Shop</a></li>
                    <li><a href="/addproduct">Add Products</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <form method="POST" action="/product">
                <input type="text" name="proname">
                <input type="submit" value="submit">
            </form>
        </main>
    </body>
</html>